{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}


<div class="container katy text-white min-vh-100 d-flex justify-content-center align-items-center">
    
    <div class="ensemble">

   
    <h1>Mon panier</h1>
    

    {% if items | length > 0 %}

        <table class="table text-white">
            <thead>
                <tr>
                    <th>Produits</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.nom }}</td>
                        <td>
                        <img src={{ asset('uploads/' ~ item.product.imageFilename )}} width="80px" height="130px"/>
                        </td>
                        <td>{{ item.product.prix }} €</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.prix * item.quantity }} €</td>
                        <td>
                            <a href="{{ path('app_cart_add', {'id': item.product.id}) }}" class="btn btn-success btn-sm">
                                <i class="fa-sharp fa-regular fa-plus"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('app_cart_decrease', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fa-sharp fa-regular fa-minus"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('app_cart_remove', {'id': item.product.id}) }}" class="btn btn-warning btn-sm">
                                <i class="fas fa-trash "></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="4">Total : </td>
                    <td>{{total}} €</td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
    {% else %}
        <p>Le panier est vide !</p>
    {% endif %}

    <div>
    <a href={{ path('app_renard_index') }} class="badge bg-info text-white">Continuer mes achats </a>
    <a href={{ path('app_commande') }} class="badge bg-success text-white">Passer ma commande </a>
    <div>

    </div>
   
</div>
{% endblock %}
