{% extends 'base.html.twig' %}

{% block title %}Peluches{% endblock %}

{% block body %}

    <div class="container josh">

        
        <div class="catshow">

            <h1>Nos peluches</h1>

            <div class="row">
                <div class="col-md-12">
                    <div class="my-3 d-flex align-items-center">
                        <a href={{path("app_renard_index")}} class="btn btn-sm btn-outline-dark mx-1">Tous les produits</a>
                        {% for category in categories %}
                        <a href={{ path("app_produits_category",{category: category.id}) }} class="btn btn-sm btn-outline-dark mx-1">{{category.title}}</a>
                        {% endfor %}

                    </div>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                {% for produit in produits %}
                        <div class="col">

                            <div class="card mb-4 rounded-3 shadow-sm border border-warning border-3">
                                <img src= {{ asset('uploads/' ~ produit.imageFilename )}} height="480px" width="100%" display= "block"/>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ produit.nom }}</h5>
                                        <p class="card-text">{{ produit.prix }}€</p>
                                        <a href="{{ path('app_renard_show', {'id': produit.id}) }}" class="btn btn-sm btn-primary">Voir</a>
                                    </div>                          
                            </div>     

                        </div>

                {% else %}
                <p>Catalogue vide !</p>
                {% endfor %}

            </div>
            
        </div>
        

    </div>

{% endblock %}



    
        
       
        
